

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    transform-style: preserve-3d;
    width: 1100px;

}

section .card {
    position: relative;
    width: 320px;
    height: 320px;
    margin: 20px;
    transform-style: preserve-3d;
    perspective: 1000px;

}

section .card .box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: 1s ease;
}

section .card:hover .box {
    transform: rotateY(180deg);

}

section .card .box .imgbox {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


section .card .box .imgbox img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;

}
section .card .box .contentbx {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #333;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    transform: rotateY(180deg);

}

section .card .box .contentbx div {
    transform-style: preserve-3d;
    padding: 20px;
    background: linear-gradient(45deg, #fe0061, #ffeb3b);
    transform: translateZ(100px);
}

section .card .box .contentbx div h2 {
    color: #fff;
    font-size: 20px;
    letter-spacing: 1px;

}

section .card .box .contentbx div p {
    color: #fff;
    font-size: 16px;
    
}