// colores
$color-primary: #ffbb00;
$color-primary-dark: #f7ff4f;
$color-secundary: #D62323;
$color-red-dark: #f50000;

$color-secundary-light: #ffb900;
$color-secundary-dark: #ff7730;
$color-orange-dark: #ae6400;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;
$color-blue-dark: #001293;
$color-blue-1: #00676c;
$color-blue-2: #17e8f9;


$color-tertiary:#FFFFFF;
$color-primary-main:#D62323;
$color-grey-ligth-1: #f7f7f7;
$color-green-ligth: #3fdb3c;
$color-green-dark-1: #158f03;
$color-green-dark-2: #0d3700;
$color-grey-ligth: #ececec;
$color-green-dark: #777;
$color-grey-dark-2: #555555;
$color-grey-dark-3: #333;
$color-black: #000;


// FONT BTN 
$default-font-size: 1.6rem;
$color-white:#ffff;


// grid (cuadricula)
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
