.feature-box {
    

    &__img {
        position: absolute;
        top: -5rem;
        right: 35.43rem;
        width: 13rem;
        margin: -12em;
        padding: 1.5rem;
        border-radius: 3px;
        box-shadow: 0 1.5rem 4rem rgba($color-black, .50);
        transition: all .5s;
    }

    &__img:hover {
        transform: translateY(-1.5rem) scale(1.03);
    }
    
    .abuelos {
        right: 12rem;
        top: 19rem;

        @include respond (phone) {
            right: 14rem;
    
        }
    }

    .religioso {
        left: 48rem;
        top: 11rem;

        @include respond (phone) {
            left: 43rem;
    
        }
    }

    .ciudadela{
        left: 12rem;
        top: 3rem;

        @include respond (phone) {
            left:14rem
    
        }
    }
    
    .Maiz {
        right: 47rem;

                    
        @include respond (phone) {
            right: 43rem;
    
        }
    }
}

