@-webkit-keyframes moveInLeft{
	0%{
		opacity: 0;
		-webkit-transform: translateX(-100px);
		transform: translateX(-100px);
	}
	80%{
		-webkit-transform: translateX(-20px);
		transform: translateX(-20px);
	}
	100%{
		opacity: 1;
		-webkit-transform: translate(0);
		transform: translate(0);
	}
}
@keyframes moveInLeft{
	0%{
		opacity: 0;
		-webkit-transform: translateX(-100px);
		transform: translateX(-100px);
	}
	80%{
		-webkit-transform: translateX(-20px);
		transform: translateX(-20px);
	}
	100%{
		opacity: 1;
		-webkit-transform: translate(0);
		transform: translate(0);
	}
}
@-webkit-keyframes moveInright{
	0%{
		opacity: 0;
		-webkit-transform: translateX(100px);
		transform: translateX(100px);
	}
	80%{
		-webkit-transform: translateX(20px);
		transform: translateX(20px);
	}
	100%{
		opacity: 1;
		-webkit-transform: translate(0);
		transform: translate(0);
	}
}
@keyframes moveInright{
	0%{
		opacity: 0;
		-webkit-transform: translateX(100px);
		transform: translateX(100px);
	}
	80%{
		-webkit-transform: translateX(20px);
		transform: translateX(20px);
	}
	100%{
		opacity: 1;
		-webkit-transform: translate(0);
		transform: translate(0);
	}
}
@-webkit-keyframes moveIntop{
	0%{
		opacity: 0;
		-webkit-transform: translateY(100px);
		transform: translateY(100px);
	}
	80%{
		-webkit-transform: translateY(20px);
		transform: translateY(20px);
	}
	100%{
		opacity: 1;
		-webkit-transform: translate(0);
		transform: translate(0);
	}
}
@keyframes moveIntop{
	0%{
		opacity: 0;
		-webkit-transform: translateY(100px);
		transform: translateY(100px);
	}
	80%{
		-webkit-transform: translateY(20px);
		transform: translateY(20px);
	}
	100%{
		opacity: 1;
		-webkit-transform: translate(0);
		transform: translate(0);
	}
}