.heading-primary-main {
	color: $color-primary-main;
	font-family: 'Lobster', cursive;
	display: block;
	/*block es para que el elemento qe tenga ekl block este en una sola linea*/
	font-size: 3rem;
	/*sirve para cambiar el tamaño*/
	font-weight: 400;
	/*grosor de la letra*/
	letter-spacing: 1.7rem;
	text-align: center; /*este permite centra el texto*/
	/*transform: translate(0%,-50%);*/
	/*permite mover el texto por toda la pagoia
	es una estilo de CSS que aplica una función para un elemento. Estas funciones se tratan de manipular y mover elementos.
Translate es para mover el elemento en la pagina.
Tambien hay otros valores para Transform como scale que hace crecer or disminuir el tamaño del elemento*/
	-webkit-animation-name: moveInLeft;
	animation-name: moveInLeft;
	-webkit-animation-duration: 5s;
	animation-duration: 5s;
	/*animation-delay: 2s; este sirve para retrasar el efecto*/
	/*animation-iteration-count: este sirve para repetir la animacion*/

}


.heading-primary-sub {
	display: block;
	font-size: 2rem;
	font-weight: 75;
	letter-spacing: 0.75rem;
	font-family: 'Indie Flower', cursive;
    -webkit-animation-name: moveInright;
    animation-name: moveInright;
	-webkit-animation-duration: 5s;
	animation-duration: 5s;
	/*animation-delay: 2s; este sirve para retrasar el efecto*/	
	margin-bottom: 3.75rem;
}


.heading-secondary {
	font-family: 'Petit Formal Script', cursive;
	font-size: 2.5rem;
	text-align: center;
	font-weight: 700;
	display: inline-block; //este hara que el elemento en bloque se en linea
	background-image: linear-gradient(to right, $color-green-ligth, $color-green-dark-1, $color-green-dark-2);
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent; //hay que establecer transparencia en el texto para que el gradier funcione.
	transition: all .3s;

	
	&:hover {
		transform: skewY(2deg) skewX(9deg) scale(1);
		text-shadow: .5rem 1rem 2rem rgba($color-black, .2);
	}
	

}

.heading-terciary {
	font-size: $default-font-size;
	color: $color-grey-dark-2;
	font-weight: 700;
	text-transform: uppercase;
	
}

.paragraph{
	font-size: $default-font-size;
	color: $color-grey-dark-2;

	&:not(:last-child) {
		margin-bottom: 3rem;
	}

}

.titulo-2 {
	display: block;
	color: $color-primary-main;
	font-size: 4.7rem;
	/*sirve para cambiar el tamaño*/
	font-weight: 400;
	/*grosor de la letra*/
	letter-spacing: 1.7rem;
	text-align: center;
	text-shadow: 3px 5px 2px #474747;
	
	
}

//titulo mapa
.title {
	
	margin-top: 2rem;

}