
.museos {
    
    width: 55rem;
    font-size: 1.25rem;
    text-align: justify;
    position: absolute;
    right: 4rem;
    margin-left: 30rem;

    @include respond (tab-land) {
        right:11rem;
    }

    @include respond (tab-port) {
        right: 5rem;

    }

    @include respond (phone) {
        right: 3rem;

    }

    @include respond(cel) {
        right: 6rem; 
        
    }

    


    & h4 {
        text-align: center;
        font-size: 1.25rem;
    }

     & h2 {
        font-family: 'Lobster', cursive;
         text-align: center;
         text-shadow: 2px 3px 4px #000000;
     }

    &-intro {
        margin-top: -35rem;
        margin-bottom: 10rem;

        &__title {
            font-size: 2rem;
            & h2 {
                color: $color-primary-main;
            }
        }

        & a {
            text-decoration: none;
        }
    }
    
    &-grandparents {
        
        &__title {
            font-size: 1.87rem;
            
            & h2 {
                color: $color-primary-main;
                position: absolute;
                left: 17rem;
                top: 29rem;
                font-size: 3.7rem;
            }
        }

        &__img {
              
            & img {
                margin-bottom: 2rem;
                height: 20rem;
                -webkit-box-shadow: 5px 5px 14px 2px #000000; 
                box-shadow: 5px 5px 14px 2px #000000;
            }

            &--text {
               
                & img {
                    height: 10rem;
                    float: left; 
                    margin: 10px 1.25rem 10px 0;
                    transition: all .5s;
                }

                & img:hover {
                    transform:scale(3);
                }
                
            }
        }

        & a {
            text-decoration: none;
        }

        
    }

    &-religious {
        
        & p {
            font-size: 1.25rem;
            text-align: justify;
        }
        margin-top: 15rem;
        &__title {
            font-size: 1.87rem;
            
            & h2 {
                color: $color-primary-main;
                position: absolute;
                left: 21rem;
                top: 135rem;
                font-size: 3.7rem;
            }
        }

        &__img {
            margin-bottom: 2rem;
            & img {
                height: 20rem;
                margin-left: -41rem;
                -webkit-box-shadow: 5px 5px 14px 2px #000000; 
                box-shadow: 5px 5px 14px 2px #000000;
            }

            &--text {
               
                & img {
                    height: 10rem;
                    float: left; 
                    margin: 10px 20px 10px 0;
                    transition: all .5s;
                }

                & img:hover {
                    transform:scale(3);
                }
                
            }
        }

        & a {
            text-decoration: none;
            font-size: 10px;
            text-align: center;
        }
        
    }

    &-pablo {
        & p {
            font-size: 1.25rem;
            text-align: justify;
        }
        margin-top: 15rem;
        &__title {
            font-size: 1.87rem;
            
            & h2 {
                color: $color-primary-main;
                position: absolute;
                left: 21rem;
                top: 180rem;
                font-size: 3.7rem;
            }
        }

        &__img {
              
            & img {
                height: 20rem;
                margin-left: -41rem;
                -webkit-box-shadow: 5px 5px 14px 2px #000000; 
                box-shadow: 5px 5px 14px 2px #000000;
                margin-bottom: 2rem;
            }

            &--text {
               
                & img {
                    height: 10rem;
                    float: left; 
                    margin: 10px 20px 10px 0;
                    transition: all .5s;
                }

                & img:hover {
                    transform:scale(3);
                }
                
            }
        }

        & a {
            text-decoration: none;
            font-size: 10px;
            text-align: center;
        }
    }    

    &-corn {
        & p {
            font-size: 1.25rem;
            text-align: justify;
        }
        margin-top: 15rem;
        &__title {
            font-size: 1.87rem;
            
            & h2 {
                color: $color-primary-main;
                position: absolute;
                left: 21rem;
                top: 260rem;
                font-size: 3.7rem;
            }
        }

        &__img {
              
            & img {
                height: 20rem;
                margin-left: -41rem;
                -webkit-box-shadow: 5px 5px 14px 2px #000000; 
                box-shadow: 5px 5px 14px 2px #000000;
                margin-bottom: 2rem;
            }

            &--text {
               
                & img {
                    height: 10rem;
                    float: left; 
                    margin: 10px 20px 10px 0;
                    transition: all .5s;
                }

                & img:hover {
                    transform:scale(3);
                }
                
            }
        }

        & a {
            text-decoration: none;
            font-size: 10px;
            text-align: center;
        }
    } 

    &-memory {
        & p {
            font-size: 1.25rem;
            text-align: justify;
        }
        margin-top: 15rem;
        &__title {
            font-size: 1.87rem;
            
            & h2 {
                color: $color-primary-main;
                position: absolute;
                left: 21rem;
                top: 315rem;
                font-size: 3.7rem;
            }
        }

        &__img {
              
            & img {
                height: 20rem;
                margin-left: -41rem;
                -webkit-box-shadow: 5px 5px 14px 2px #000000; 
                box-shadow: 5px 5px 14px 2px #000000;
                margin-bottom: 2rem;
            }

            &--text {
               
                & img {
                    height: 10rem;
                    float: left; 
                    margin: 10px 20px 10px 0;
                    transition: all .5s;
                }

                & img:hover {
                    transform:scale(3);
                }
                
            }
        }

        & a {
            text-decoration: none;
            font-size: 10px;
            text-align: center;
        }
        
    } 

    &-culture {
        & p {
            font-size: 1.25rem;
            text-align: justify;
        }
        margin-top: 15rem;
        &__title {
            font-size: 1.87rem;
            
            & h2 {
                color: $color-primary-main;
                position: absolute;
                left: 18rem;
                top: 372rem;
                font-size: 3.7rem;
            }
        }

        &__img {
              
            & img {
                height: 20rem;
                margin-left: -41rem;
                -webkit-box-shadow: 5px 5px 14px 2px #000000; 
                box-shadow: 5px 5px 14px 2px #000000;
                margin-bottom: 2rem;
            }

            &--text {
               
                & img {
                    height: 10rem;
                    float: left; 
                    margin: 10px 20px 10px 0;
                    transition: all .5s;
                }

                & img:hover {
                    transform:scale(3);
                }
                
            }
        }

        & a {
            text-decoration: none;
            font-size: 10px;
            text-align: center;
        }
        
    }
    
    &-arqueologica {
        & p {
            font-size: 1.25rem;
            text-align: justify;
        }
        margin-top: 15rem;
        &__title {
            font-size: 1.87rem;
            
            & h2 {
                color: $color-primary-main;
                position: absolute;
                left: 25rem;
                top: 440rem;
                font-size: 3.7rem;
            }
        }

        &__img {
              
            & img {
                height: 20rem;
                margin-left: -41rem;
                -webkit-box-shadow: 5px 5px 14px 2px #000000; 
                box-shadow: 5px 5px 14px 2px #000000;
                margin-bottom: 2rem;
            }

            &--text {
               
                & img {
                    height: 10rem;
                    float: left; 
                    margin: 10px 20px 10px 0;
                    transition: all .5s;
                }

                & img:hover {
                    transform:scale(3);
                }
                
            }
        }

        & a {
            text-decoration: none;
            font-size: 10px;
            text-align: center;
        }
    } 

    &-press {
        & p {
            font-size: 1.25rem;
            text-align: justify;
        }
        margin-top: 15rem;
        &__title {
            font-size: 1.87rem;
            
            & h2 {
                color: $color-primary-main;
                position: absolute;
                left: 17rem;
                top: 500rem;
                font-size: 3.7rem;
            }
        }

        &__img {
              
            & img {
                height: 20rem;
                margin-left: -41rem;
                -webkit-box-shadow: 5px 5px 14px 2px #000000; 
                box-shadow: 5px 5px 14px 2px #000000;
                margin-bottom: 2rem;
            }

            &--text {
               
                & img {
                    height: 10rem;
                    float: left; 
                    margin: 10px 20px 10px 0;
                    transition: all .5s;
                }

                & img:hover {
                    transform:scale(3);
                }
                
            }
        }

        & a {
            text-decoration: none;
            font-size: 10px;
            text-align: center;
        }
    } 

    &-romulo {
        & p {
            font-size: 1.25rem;
            text-align: justify;
        }
        margin-top: 15rem;
        &__title {
            font-size: 1.87rem;
            
            & h2 {
                color: $color-primary-main;
                position: absolute;
                left: 20rem;
                top: 554rem;
                font-size: 3.7rem;
            }
        }

        &__img {
              
            & img {
                height: 20rem;
                margin-left: -41rem;
                -webkit-box-shadow: 5px 5px 14px 2px #000000; 
                box-shadow: 5px 5px 14px 2px #000000;
                margin-bottom: 2rem;
            }

            &--text {
               
                & img {
                    height: 10rem;
                    float: left; 
                    margin: 10px 20px 10px 0;
                    transition: all .5s;
                }

                & img:hover {
                    transform:scale(3);
                }
                
            }
        }

        & a {
            text-decoration: none;
            font-size: 10px;
            text-align: center;
        }
        
    } 

    &-pantagoras {
        & p {
            font-size: 1.25rem;
            text-align: justify;
        }
        margin-top: 15rem;
        &__title {
            font-size: 1.87rem;
            
            & h2 {
                color: $color-primary-main;
                position: absolute;
                left: 20rem;
                top: 610rem;
                font-size: 3rem;
            }
        }

        &__img {
              
            & img {
                height: 20rem;
                margin-left: -41rem;
                -webkit-box-shadow: 5px 5px 14px 2px #000000; 
                box-shadow: 5px 5px 14px 2px #000000;
                margin-bottom: 2rem;
            }

            &--text {
               
                & img {
                    height: 10rem;
                    float: left; 
                    margin: 10px 20px 10px 0;
                    transition: all .5s;
                }

                & img:hover {
                    transform:scale(3);
                }
                
            }
        }

        & a {
            text-decoration: none;
            font-size: 10px;
            text-align: center;
        }
        
    } 

    &-cemetery {
        & p {
            font-size: 1.25rem;
            text-align: justify;
        }
        margin-top: 15rem;
        &__title {
            font-size: 1.87rem;
            
            & h2 {
                color: $color-primary-main;
                position: absolute;
                left: 17rem;
                top: 680rem;
                font-size: 3.7rem;
            }
        }

        &__img {
              
            & img {
                height: 20rem;
                margin-left: -41rem;
                -webkit-box-shadow: 5px 5px 14px 2px #000000; 
                box-shadow: 5px 5px 14px 2px #000000;
                margin-bottom: 2rem;
            }

            &--text {
               
                & img {
                    height: 10rem;
                    float: left; 
                    margin: 10px 20px 10px 0;
                    transition: all .5s;
                }

                & img:hover {
                    transform:scale(3);
                }
                
            }
        }

        & a {
            text-decoration: none;
            font-size: 10px;
            text-align: center;
        }
        
    } 

    &-Emilio {
        & p {
            font-size: 1.25rem;
            text-align: justify;
        }
        margin-top: 15rem;
        &__title {
            font-size: 1.87rem;
            
            & h2 {
                color: $color-primary-main;
                position: absolute;
                left: 17rem;
                top: 740rem;
                font-size: 3.7rem;
            }
        }

        &__img {
              
            & img {
                height: 20rem;
                margin-left: -41rem;
                -webkit-box-shadow: 5px 5px 14px 2px #000000; 
                box-shadow: 5px 5px 14px 2px #000000;
                margin-bottom: 2rem;
            }

            &--text {
               
                & img {
                    height: 10rem;
                    float: left; 
                    margin: 10px 20px 10px 0;
                    transition: all .5s;
                }

                & img:hover {
                    transform:scale(3);
                }
                
            }
        }

        & a {
            text-decoration: none;
            font-size: 10px;
            text-align: center;
        }
        
    }
}

.titulo {
    @include respond (tab-land) {
        margin-top: 16rem;
    }

    @include respond (tab-port) {
        margin-top: 53rem;

    }

    @include respond (phone) {
        margin-top: 16rem;

    }

    

    &-mm {
        @include respond (phone) {
            margin-top: 44rem;
    
        }

        &__n {
            @include respond (phone) {
                margin-top: 50rem;
        
            }
            &--c {
                @include respond (phone) {
                    margin-top: 57rem;
            
                }

               
            }

            &--h {

                @include respond (tab-land) {
                    margin-top: 20rem;
                }

                @include respond (tab-port) {
                    margin-top: 53rem;
            
                } 

                @include respond(cel) {
                    margin-top: 33rem;  
                    
                }
            }

            &--q {

                @include respond (tab-land) {
                    margin-top: 20rem;
                }

                @include respond (tab-port) {
                    margin-top: 45rem;
            
                } 

                @include respond(cel) {
                    margin-top: 25rem;  
                    
                }
            }
        }

    
    }

    &-include {

        @include respond (tab-land) {
            margin-top: 16rem;
        }

        @include respond (tab-port) {
            margin-top: 31rem;
    
        }

        @include respond(cel) {
            margin-top: 20rem;  
            
        }

        &__m {

            @include respond (tab-land) {
                margin-top: 16rem;
            }

            @include respond (tab-port) {
                margin-top: 40rem;
        
            }

            @include respond(cel) {
                margin-top: 23rem;  
                
            }
        }

        
    }
}



//footer
.uno {
    margin-top:15rem;
    position: absolute;
    top: 820rem;
    width: 95.5%;

    @include respond (tab-land) {
        top: 870rem;
    }

    @include respond (tab-port) {
        margin-top: 80rem;

    }

    @include respond(cel) {
        margin-top: 116rem;  
        
    }

    // @include respond (phone) {
    //     margin-top: 16rem;

    // }
    
}