.section-about {
    background-color: $color-grey-ligth-1;
    padding: 25rem 0;
    margin-top: -22vh;
}


//seccion museos
.section-features {
    padding: 4rem 0;
    background-image: -webkit-gradient(
       linear,
       left top, right bottom,
       from(rgba($color-primary,0.00)),
       to(rgba($color-primary,0.90))
	), url(https://www.skyscrapercity.com/cdn-cgi/image/format=auto,onerror=redirect,width=1920,height=1920,fit=scale-down/https://www.skyscrapercity.com/attachments/e0ae8151-1cf1-4f24-8160-db367d76059c-jpeg.571956/);
    background-image: -o-linear-gradient(
       left top,
       rgba($color-primary,0.00),
       rgba($color-primary,0.90)
	), url(https://www.skyscrapercity.com/cdn-cgi/image/format=auto,onerror=redirect,width=1920,height=1920,fit=scale-down/https://www.skyscrapercity.com/attachments/e0ae8151-1cf1-4f24-8160-db367d76059c-jpeg.571956/);
    background-image: linear-gradient(
       to right bottom,
       rgba($color-primary,0.00),
       rgba($color-primary,0.90)
	), url(https://www.skyscrapercity.com/cdn-cgi/image/format=auto,onerror=redirect,width=1920,height=1920,fit=scale-down/https://www.skyscrapercity.com/attachments/e0ae8151-1cf1-4f24-8160-db367d76059c-jpeg.571956/);
    background-size: cover;	
    -webkit-transform: skewY(-7deg);	
        -ms-transform: skewY(-7deg);	
            transform: skewY(-7deg);
    margin-top: -10rem;

    & > * {
        -webkit-transform: skewY(7deg);
            -ms-transform: skewY(7deg);
                transform: skewY(7deg);
    } 
}

//fiestas
.party-section {
    background-color: $color-grey-ligth-1;
    padding: 25rem 0 15rem 0;
    margin-top: -10rem;

}

//datos
.section-data {
    position: relative;
    padding: 1rem 0;
}


//map
.map-caracteristicas {
    background-color: $color-grey-ligth-1;
    padding-top: 10rem;

}